.hobbie{
    height: 100%;
    text-align: center;
}
.hobbie .hobbie_title{
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    text-align: center;
} 

.hobbie_icon > .MuiSvgIcon-root{
    font-size: 46px !important;
    margin-left: 0 !important;
    font-weight: 300 !important;
    color: darkslategray !important;
   
} 
.contactdetail_item{
    font-size: 14px !important;
    color: #787878;
    line-height: 34px !important;
}
.contactdetail_item > span{
    color: black !important;
    font-weight: 500;
}